td{
    border: 2px solid black;
}
ul{
    background-color: blue;
    height: 20px;
    width: auto;
}
ol{
    background-color: pink;
}

table{
    background-color: red;
}
li{ 
    background-color: yellow;
}


